<!DOCTYPE html>
<html>
    <head>
        <title>E-Store</title>
        <link rel="stylesheet" href="css\style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
    </head>

    <body>
        <nav>
            <div class="logo">
                <h4>E-Store</h4>
            </div>

            <div id="menu" class="sideMenu">
                <a href="/computers">Computers</a>
                <a href="/tv">TV</a>
                <a href="/phones">Phones</a>
                <a href="#" class="closeBtn" onclick="closeSlideMenuFunction()"
                    >&times;</a
                >
                <div id="slideLogo" class="slideLogo"><h4>E-Store</h4></div>
            </div>
            <ul class="nav-links">
                <div id="menuBox" onclick="openSlideMenuFunction()">
                    &#9776; Menu
                </div>
                <li><a href="/index">Home</a></li>
                <li><a href="/aboutUs">About us</a></li>
                <li class="cart">
                    <a href="/cart">
                        <ion-icon name="basket"></ion-icon>Cart<span>0</span>
                    </a>
                </li>
                <% if( typeof(isLoggedIn) !="undefined"){%> <%if (isLoggedIn) {
                %>
                <li><a href="/logout">Logout</a></li>
                <% }} else { %>
                <li><a href="/login">Sign in</a></li>
                <% } %>
            </ul>
        </nav>

        <div class="about-us-section">
            <div class="about-us-container">
                <div class="about-us-content-section">
                    <div class="section-title">
                        <h1>About us</h1>
                    </div>
                    <div class="section-content">
                        <h4>Emil Assarsson</h4>
                        <p>
                            Emil has a background in logistics and he has a deep
                            interest in IT. He started studying Computer Science
                            at HKR in 2017.
                        </p>
                        <h4>Jimmie Tauriainen</h4>
                        <p>
                            Jimmie started studying Software Development at HKR
                            in 2017 and has a burning interest in programming.
                            He likes a good challenge and always tries to think
                            outside the box.
                        </p>
                    </div>
                </div>
                <div class="image-section">
                    <img src="images/about-us.jpg" />
                </div>
            </div>
            <div class="about-us-container">
                <div class="about-us-content-section">
                    <div class="section-content2">
                        <!-- <h4>
                            If you have questions, don't hesitate to contact us!
                        </h4> -->
                    </div>
                </div>
            </div>
            <div class="form-container">
                <form class="contact-form">
                    <h2>Contact Us</h2>
                    <input
                        type="text"
                        id="form-name"
                        placeholder="Full name"
                    /><br />
                    <input type="email" id="email" placeholder="Email" /><br />
                    <input
                        type="text"
                        id="subject"
                        placeholder="Subject"
                    /><br />
                    <textarea
                        id="message"
                        placeholder="message"
                        cols="30"
                        rows="10"
                    ></textarea
                    ><br />
                    <input type="submit" class="submit" value="Send Message" />
                </form>
            </div>
        </div>

        <footer>
            <div class="footer-content">
                <h3>E-Store</h3>
                <p></p>
                <ul class="socials">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>Copyright &copy;2021 E-Store</p>
            </div>
        </footer>

        <script src="script/main.js"></script>
        <script src="script/form.js"></script>
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    </body>
</html>
