<!DOCTYPE html>

<html>
<head>
    <title>Admin page</title>
    <link rel="stylesheet" href="css/viewStyle.css">
    <script src="script/fetch_data.js"></script>
</head>

<body>

    <button onclick="fetchUsers()">Fetch users</button>

    <a href="/index">Back to Main page</a>

    
    <button class = createButton>Create new user</button>    

    <div style="clear:both;"></div>

    <br>

    <h1 style="margin-left: 10px;">Users</h1>

    <br>

    <div class= "users">
    
    <div class="username">
        Username 
    </div>

    <div class="email">
        Email 
    </div>

    <div class="isAdmin">
        isAdmin
    </div>

</div>







</body>

</html>