<!DOCTYPE html>

<html>
<head>
    <title>Admin page</title>
    <link rel="stylesheet" href="css/viewStyle.css">
    <script src="script/fetch_data.js"></script>
</head>

<body>

    <style> body{background: lightgray;} </style>

    <a href="/index">Back to Main page</a>

    <div style="clear:both;"></div>

    <br>

    <h1 style="margin-left: 10px; float: left;">Users</h1>

    <button id = "createButtonID" class = createButton>Create new user</button> 

    <div style="clear:both;"></div>

    <br>

    
     


 

    <!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      
        <h1>Register new account</h1> <br>
        <form action="/registerAction" method="POST">
          <div>
            <label for="name">Name</label><br>
            <input type="text" id="name" name="name" required>
          </div>
          <div>
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" autocomplete="off" required>
          </div>
          <div>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required>
          </div>
          <div>
            <input type="checkbox" id = "newAdmin" name="newAdmin" value= "1"  >
            <label for="newAdmin"> Is admin?</label><br><br>
          </div>
          <input type="submit" value="Register"></input>
        </form>
        
       

    </div>
  
  </div>


  <!-- The Update Modal -->
<div id="modal1" class="modal1">

    <!-- Modal content -->
    <div class="modal-content1">
        <span class="close1">&times;</span>

        <h1>Update user</h1><br>
        <form action="/updateUserAction" method="POST">
            <div>
                <label for="current_name">Current username</label><br>
                <input type="hidden" id ="current_name_hidden" name="current_name" >
                <input type="text" id="current_name" name="current_name" value ="name" disabled>
              </div>
              <div>
                <label for="email">E-mail</label><br>
                <input type="hidden" id ="current_email_hidden" name="email_hidden" >
                <input type="text" id="current_email" name="email" value ="email" disabled>
              </div>
          <div>
            <label for="name">New username</label><br>
            <input type="text" id="name" name="new_name" required>
          </div>
          <div>
            <label for="password">New password</label><br>
            <input type="password" id="password" name="new_password" required>
          </div>
         
          <input type="submit" value="Submit"></input>
        </form>


    </div>
   
    

    </div>
  
  

  <script>

      //Modal code below 

// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("createButtonID");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}



  </script>

    


</body>

</html>