<html>

<head>
    <link rel="stylesheet" href="css\viewStyle.css"  >
</head>

<body>

    <% if( typeof(isLoggedIn) !="undefined"){%>
    <%if (isLoggedIn) { %>
        <p> <%= username %> is logged in</p>
        <p> isAdmin:  <%= isAdmin %> </p>
      <% }} %>


      <div class="filler">
        <div class="logo">
            <h4>E-Store</h4>
        </div>
      </div>
      
    
      <div class="formContainer">

        <h1>Welcome! Login</h1>

<form action="/auth" method="post">
    Name:<br>
    <input type="text" name="username" placeholder="Enter Username" required><br>
    Password:<br>
    <input type="text" name="password" placeholder="Enter Password" required><br>
   <input id = submitButtonId type="submit"  name="submitButton" value = "Sign in">
   </form>

   <form action="register" method="GET">
    <input id = "registerButton" type="submit" value="Create an account" />
</form>

   
</div>

<a href="/index">Back to Main page</a>




<div style="clear:both;"></div>



</body>
   </html>