<html>

<head>
    <link rel="stylesheet" href="/css/viewStyle.css"  >
</head>

<body>
    
<form action="" method="post">
    Name:<br>
    <input type="text" name="name" placeholder="Enter Username" required><br>
    Password:<br>
    <input type="text" name="password" placeholder="Enter Password" required><br>
   <input id = submitButtonId type="submit"  name="submitButton" value = "Sign in">
   </form>

   <a href="/index.html">Back to Main page</a>

</body>
   </html>