<html>


<head>
    <link rel="stylesheet" href="/css/viewStyle.css"  >
</head>

<body>
    
  

    <% if( typeof(registerSuccesful) !="undefined"){%>
      <%if (registerSuccesful) { %>
          <p> You have successfully registered a new account! </p>
        <% } else { %>
          <p> That email address is already registered!</p>
          <% }} %>

          <div class="filler">
            <div class="logo">
                <h4>E-Store</h4>
            </div>
          </div>

          <div class="formContainer">
<h1>Register new account</h1> <br>
<form action="/registerAction" method="POST">
  <div>
    <label for="name">Name</label><br>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="email">Email</label><br>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" required>
  </div>
  <input type="submit" value="Register"></input>
</form>

</div>
<a href="/index">Back to Main page</a>

<div class="links">
<p>Already got an account?</p>
<a href="/login">Login</a>
</div>

</body>
</html>