* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    margin-top: auto;
    overflow-x: hidden;
}

nav {
    margin-right: -40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    background-color: #01c355;
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
}

.logo {
    color: white;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #f3f1f1;
    background-color: #01c355;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-links a:hover {
    background-color: green;
}

.nav-links div:hover {
    background-color: green;
}

.nav-links div {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.sideMenu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #f3f1f1;
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all 0.5s;
}

.sideMenu :hover {
    color: gray;
}

.sideMenu a {
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
}

.sideMenu .closeBtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
}

.slideLogo {
    position: absolute;
    top: 12px;
    left: 64px;
    font-size: 30px;
    color: #01c355;
    font-weight: bold;
}

#menuBox {
    color: #f3f1f1;
    cursor: pointer;
    padding-top: 3px;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span {
    padding-left: 5px;
}

li a {
    padding: 5px;
    background-color: #fff;
    text-decoration: none;
}

.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

.cart a {
    background-color: #01c355;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.container,
.container-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.image {
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}

.add-cart {
    position: absolute;
    width: 100%;
    border-radius: 25px;
    background-color: #01c355;
    color: #fff;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5,
.image:hover .cart6,
.image:hover .cart7 {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}

/* ----------------- CART PAGE --------------- */

.container-products {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.container-products ion-icon {
    font-size: 25px;
    color: #01c355;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity {
    width: 25%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.product ion-icon {
    cursor: pointer;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 15%;
}

@media (max-width: 500px) {
    nav h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .sm-hide {
        display: none;
    }

    .products,
    .product-header {
        justify-content: center;
    }

    .basketTotalContainer {
        padding-right: 8%;
    }
}

/* ----------------- Home page slider --------------- */

.slider {
    margin-top: 100px;
    margin-left: 40%;
    width: 400px;
    min-height: 320px;
    border-radius: 10px;
    border: 2px solid #01c355;
    overflow: hidden;
    margin-bottom: 100px;
}

.slider-title {
    padding-left: 60px;
    color: #01c355;
}

.slides {
    width: 500%;
    height: 296px;
    display: flex;
    justify-content: right;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 227px;
    height: 306px;
    margin-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navigation-manual {
    position: absolute;
    width: 296px;
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #01c355;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background: #01c355;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/* ----------------- Footer --------------- */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #01c355;
    height: 60px;
    width: 100vw;
    color: #fff;
    padding-top: 10px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #01c355;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    background-color: #01c355;
}

.socials a i {
    font-size: 1.4rem;
    transition: color 0.4s ease;
}

.socials a:hover i {
    color: rgb(179, 174, 174);
}

.footer-bottom {
    background-color: #12aa4c;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

/* ----------------- Top Banner --------------- */

.top-banner {
    max-width: 1200px;
    position: relative;
    top: 70px;
    left: 20%;
    margin-bottom: 150px;
}

.img-bokrea {
    position: relative;
    top: 0;
    left: 0;
}
.img-mobiltelefoner {
    position: absolute;
    top: 0px;
    left: 810px;
}

.img-premium {
    position: absolute;
    top: 205px;
    left: 810px;
}
