*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.filler{
  width: 30%;
  height: 100%;
  background-color: #01c355;
  float: left;
}

.formContainer{

  
  
  width: 30%;
float: right;
margin-right: 20%;
margin-top: 10%;

}

#registerButton{
  background-color: grey;
}

.formContainer h1{
  
 
  text-align: center;

}

.links{
  width: 30%;
  float: right;
  margin-right: 10%;
  
  
}

.logo {
  color: white;
  letter-spacing: 5px;
  font-size: 22px;
  text-align: center;
  margin-top: 10%;
}

.users{
  overflow: hidden;
  border: 1px solid black;
  margin-bottom: 1px;
  background-color: lightgray;

}

.user{
  overflow: hidden;
  border: 1px solid black;
  margin-bottom: 1px;
  background-color: white;
}

.username{
padding: 10px;
margin: 0px;
float: left;
}

.email{
  padding: 10px;
  margin: 0px;
  float: left;
  
}

.isAdmin{
  padding: 10px;
  margin: 0px;
  float: left;
 }

 .infoButton{
  padding: 10px;
  margin: 0px;
  float: right;
 }

 .updateButton{
  padding: 10px;
  margin: 0px;
  float: right;
  color: black;
  border-radius: 10px;
  background-color: lightskyblue;
 }

 .deleteButton{
  padding: 10px;
  margin: 0px;
  float: right;
  color: white;
  border-radius: 10px;
  background-color:#FF6347;
 }

 .createButton{
  padding: 10px;
  margin: 0px;
  background-color: #01c355;
  margin-left: 80%;
  color: white;
  border-radius: 10px;
 }
  
  

  /* Full-width input fields */
input[type=text], input[type=password], input[type=email]  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(66, 66, 66);
  box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  opacity: 0.8;
}


/* All modal css below*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content1 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}